<div class="container talk-bar">
  <div class="talk-bar-inner">
    <h1 class="m-3">你想對誰說幹話 ?</h1>
  </div>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <form method="POST" action="/">
        <div class="card-columns mb-1">
          <div class="card mb-3">
            <img class="card-img-top"
              src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5668/angry-developer.jpg"
              alt="engineer">
            <div class="form-check">
              <input type="radio" class="form-check-input" value="engineer" name="job">
              <label class="form-check-label" for="job">工程師</label>
            </div>
          </div>

          <div class="card mb-3">
            <img class="card-img-top"
              src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5667/angry-designer.jpg"
              alt="designer">
            <div class="form-check">
              <input type="radio" class="form-check-input" value="designer" name="job">
              <label class="form-check-label" for="job">設計師</label>
            </div>
          </div>

          <div class="card mb-3">
            <img class="card-img-top"
              src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5669/angry-founder.jpg"
              alt="entrepreneur">
            <div class="form-check">
              <input type="radio" class="form-check-input" value="entrepreneur" name="job">
              <label class="form-check-label" for="job">創業家</label>
            </div>
          </div>
        </div>

        <!-- submit button -->
        <button class="btn btn-danger mb-4" type="submit">產生幹話</button>

        <!-- show speech -->
        {{#if speech}}
        <div class="alert alert-warning" role="alert">
          <h2><code class="text-primary">{{speech}}</code></h2>
        </div>
        {{/if}}
      </form>
    </div>
  </div>
</div>